$fz: 18px;
$fz-sub: 26px;
$fz-h1: 82px;
$fz-h2: 54px;
$fz-h3: 42px;
$bg-purple-col: #20113d;
$bg-orange-col: #f58021;
$bg-blue-col: #00a092;
$bg-orange-hover: #d26004;
$bg-blue-hover: #05786e;
$desktop: 1920px;
$desktop-small: 1200px;
$tablet: 640px;
$mobile: 320px;
