@use '_variables' as v;
@use '_mixin' as m;
@use 'think.scss';

body {
  width: v.$desktop;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  @include m.position(column, flex-start, center, center);
  margin: 0 auto;

  @media screen and (max-width: v.$desktop-small) {
    max-width: v.$desktop-small;
  }

  @media screen and (max-width: v.$tablet) {
    max-width: v.$tablet;
  }

  @media screen and (max-width: v.$mobile) {
    max-width: v.$mobile;
  }
}

.watch-section {
  width: v.$desktop;
  max-width: v.$desktop;
  height: 790px;
  background-size: cover;
  background-position: bottom center;
  background-image: url('../assets/images/bg-watch.png');
  padding-left: 260px;
  padding-top: 130px;
  padding-bottom: 130px;

  @media screen and (max-width: v.$desktop-small) {
    width: v.$desktop-small;
    max-width: v.$desktop-small;
    height: 690px;
    padding-left: 40px;
    padding-top: 100px;
    background-position: bottom right;
    background-image: url('../assets/images/bg-watch-small-d.png');
  }

  @media screen and (max-width: v.$tablet) {
    width: v.$tablet;
    max-width: v.$tablet;
    height: 644px;
    padding: 50px 20px 0;
    background-size: 100% 60%;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: v.$mobile) {
    max-width: v.$mobile;
    padding: 20px 10px 0;
    height: 686px;
    background-size: 100% 35%;
  }

  .title-watch {
    width: 850px;
    font-size: 82px;
    font-weight: 800;
    letter-spacing: 1%;
    line-height: 1.2;
    color: v.$bg-blue-col;
    text-transform: uppercase;

    @media screen and (max-width: v.$tablet) {
      width: 100%;
      max-width: v.$tablet;
      font-size: 72px;
    }
    @media screen and (max-width: v.$mobile) {
      font-size: 40px;
    }
  }

  .paragraph-watch {
    width: 400px;
    @include m.font(v.$fz, 400);
    line-height: 150%;
    margin: 30px 0 50px;

    @media screen and (max-width: v.$desktop-small) {
      width: 350px;
      margin: 20px 0;
    }

    @media screen and (max-width: v.$mobile) {
      width: 100%;
    }
  }

  .button-watch:hover {
    background-color: v.$bg-orange-hover;
    cursor: pointer;
  }

  .button-watch {
    @include m.btn-template(240px, 74px);
    background-color: v.$bg-orange-col;
    transition: 0.3s ease;
    @media screen and (max-width: v.$tablet) {
      @include m.btn-template(285px, 74px);
    }
    @media screen and (max-width: v.$mobile) {
      width: 300px;
      height: 45px;
    }
  }
}

.welcome-section {
  width: v.$desktop;
  @include m.position(column, center, center, center);
  margin: 150px 0;
  gap: 150px;

  @media screen and (max-width: v.$desktop-small) {
    max-width: v.$desktop-small;
    margin: 100px 0;
    gap: 80px;
  }

  @media screen and (max-width: v.$tablet) {
    max-width: v.$tablet;
    gap: 50px;
  }

  @media screen and (max-width: v.$mobile) {
    max-width: v.$mobile;
    margin: 50px 0;
  }

  :last-child {
    flex-direction: row-reverse;
  }

  .welcome-block {
    width: calc(1400px / 1920px) * 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    box-sizing: content-box;

    .welcome-content {
      width: 560px;
      @media screen and (max-width: v.$tablet) {
        width: v.$tablet;
      }
      @media screen and (max-width: v.$mobile) {
        width: v.$mobile;
      }
    }

    .welcome-img {
      width: 800px;
      height: 531px;

      @media screen and (max-width: v.$desktop-small) {
        @include m.size(660px, 438px);
      }
      @media screen and (max-width: v.$tablet) {
        width: v.$tablet;
        height: 438px;
      }
      @media screen and (max-width: v.$mobile) {
        width: v.$mobile;
        height: 218px;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    .welcome-title {
      @include m.h2;
      margin-bottom: 50px;

      @media screen and (max-width: v.$desktop-small) {
        margin-bottom: 35px;
      }

      @media screen and (max-width: v.$tablet) {
        padding: 0 0 0 20px;
      }

      @media screen and (max-width: v.$mobile) {
        font-size: 26px;
        font-weight: 500;
        padding: 0 50px 0 10px;
        margin-bottom: 30px;
      }
    }

    .eagle {
      @media screen and (max-width: v.$desktop-small) {
        height: 425px;
      }
      @media screen and (max-width: v.$mobile) {
        height: 213px;
      }
    }

    .welcome-paragraph {
      font-size: v.$fz;
      line-height: 150%;
      font-weight: 400;

      @media screen and (max-width: v.$tablet) {
        padding: 0 0 0 20px;
      }

      @media screen and (max-width: v.$mobile) {
        padding: 0 0 0 10px;
      }
    }

    @media screen and (max-width: v.$desktop-small) {
      max-width: 660px;
      width: 660px;
      flex-direction: column-reverse;
      align-items: flex-start;
      padding: 0 100px;
      gap: 30px;
    }

    @media screen and (max-width: v.$tablet) {
      max-width: v.$tablet;
      padding: 0;
    }

    @media screen and (max-width: v.$mobile) {
      max-width: v.$mobile;
    }
  }
}

.donation-block {
  height: 220px;
  background-color: v.$bg-purple-col;
  @include m.position(row, center, center, center);
  color: #fff;

  @media screen and (max-width: v.$desktop-small) {
    height: 315px;
  }
  @media screen and (max-width: v.$tablet) {
    height: 460px;
  }
  @media screen and (max-width: v.$mobile) {
    height: 445px;
  }

  .donation-content {
    width: calc(1400px / 1920px) * 100%;
    @include m.position(row, space-between, center);
    margin: 50px 0;

    .donation-text h3 {
      font-size: 42px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 20px;

      @media screen and (max-width: v.$desktop-small) {
        margin-bottom: 30px;
        padding-right: 100px;
      }

      @media screen and (max-width: v.$tablet) {
        margin-bottom: 30px;
        padding-right: 0;
      }

      @media screen and (max-width: v.$mobile) {
        font-size: 26px;
      }
    }

    .donation-text {
      @media screen and (max-width: v.$mobile) {
        width: 90%;
      }
    }

    .donation-text p {
      max-width: 630px;
      font-size: 18px;
      line-height: 1.5;
      @media screen and (max-width: v.$desktop-small) {
        width: 575px;
      }
      @media screen and (max-width: v.$tablet) {
        width: 100%;
        padding: 0 27px;
      }
      @media screen and (max-width: v.$mobile) {
        width: 100%;
        padding: 0;
      }
    }

    .donation-button-container:hover {
      .icon-wrapper {
        background-color: v.$bg-orange-hover;
      }
    }

    .donation-button-container h4 {
      font-size: 26px;
      line-height: 1.3;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .donation-button-container button {
      @include m.btn-template(320px);
      justify-content: end;
      gap: 20px;
      background-color: inherit;
      border: 1px solid #fff;

      .icon-wrapper {
        display: flex;
        justify-content: center;
        width: 80px;
        height: 74px;
        background-color: v.$bg-orange-col;
        border-radius: 5px;
        border: 1px solid #fff;
        border-left: none;

        img {
          width: 25px;
          height: 22;
          max-width: 100%;
          max-height: 100%;
        }

        @media screen and (max-width: v.$mobile) {
          width: 60px;
          height: 45px;
        }
      }

      @media screen and (max-width: v.$tablet) {
        width: 365px;
      }

      @media screen and (max-width: v.$mobile) {
        font-size: 16px;
        font-weight: 600;
        width: 300px;
        height: 45px;
      }
    }

    #donation-btn-input {
      margin-left: 20px;
    }

    @media screen and (max-width: v.$desktop-small) {
      width: calc(1000px / 1200px) * 100%;
    }
    @media screen and (max-width: v.$tablet) {
      width: v.$tablet;
      @include m.position(column, center, center, center);
      text-align: center;
      gap: 30px;
    }
    @media screen and (max-width: v.$mobile) {
      width: v.$mobile;
    }
  }
}

.meet-section {
  width: 1920px;
  @include m.position(column, center, center, flex-start);
  text-align: center;
  overflow: hidden;

  @media screen and (max-width: v.$desktop-small) {
    width: v.$desktop-small;
  }

  @media screen and (max-width: v.$tablet) {
    width: v.$tablet;
    align-items: flex-end;
  }

  @media screen and (max-width: v.$mobile) {
    width: v.$mobile;
  }

  .meet-text {
    margin: 135px 0 100px;
    align-self: center;

    h2 {
      @include m.h2;
      margin-bottom: 50px;
      @media screen and (max-width: v.$desktop-small) {
        margin-bottom: 30px;
        padding-left: 100px;
      }

      @media screen and (max-width: v.$tablet) {
        margin: 0 100px 30px;
        padding-left: 0;
      }
      @media screen and (max-width: v.$mobile) {
        font-size: 26px;
        margin: 0 0 30px;
      }
    }
    p {
      width: 920px;
      font-size: 26px;
      line-height: 1.3;
      font-weight: 500;

      @media screen and (max-width: v.$desktop-small) {
        width: 870px;
      }

      @media screen and (max-width: v.$tablet) {
        width: 100%;
        padding: 0 20px;
      }
      @media screen and (max-width: v.$mobile) {
        font-size: 18px;
        line-height: 1.5;
        padding: 0 10px;
        font-weight: 400;
      }
    }

    @media screen and (max-width: v.$desktop-small) {
      margin-top: 100px;
      margin-bottom: 0;
    }

    @media screen and (max-width: v.$tablet) {
      margin: 100px 0 50px;
    }
    @media screen and (max-width: v.$mobile) {
      margin: 50px 0 30px;
    }
  }

  .arrow-container {
    display: flex;
    gap: 55px;
    margin-bottom: 50px;
    align-self: center;
    cursor: pointer;

    @media screen and (max-width: v.$desktop-small) {
      margin-top: 100px;
      margin-bottom: 30px;
    }

    .arrows {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border: 1px solid v.$bg-purple-col;
      background-color: transparent;
      color: v.$bg-purple-col;
    }

    .arrows:hover {
      background-color: v.$bg-purple-col;
      color: #fff;
    }

    .arr-left {
      transform: rotate(180deg);
    }

    @media screen and (max-width: v.$tablet) {
      display: none;
    }
  }

  .meet-slide-container {
    @include m.position(row, center, center, center);
    width: 100%;
    height: auto;
    max-height: 1540px;
    flex-wrap: wrap;
    gap: 40px;
    overflow: hidden;

    @media screen and (max-width: v.$desktop-small) {
      flex-direction: row;
      width: 1900px;
      gap: 20px;
    }

    @media screen and (max-width: v.$tablet) {
      transform: translateX(310px);
      width: 2480px;
      height: 600px;
    }

    @media screen and (max-width: v.$mobile) {
      transform: translateX(625px);
      margin-bottom: 65px;
    }

    .slide-animal-card {
      position: relative;
      @include m.position(column, flex-start, center, flex-start);
      @include m.size(440px, 750px);
      background-color: v.$bg-purple-col;
      color: #fff;
      border-radius: 5px;

      :hover {
        cursor: pointer;
      }

      @media screen and (max-width: v.$desktop-small) {
        @include m.size(455px, 715px);
      }

      @media screen and (max-width: v.$tablet) {
        @include m.size(290px, 600px);
      }

      .crocodile {
        background-image: url('../assets/images/cards/crocodale-card.png');
        background-size: 120%;
        background-position: center;
        background-repeat: no-repeat;
        &:hover {
          background-size: 130%;
        }
      }

      .card-img {
        width: 100%;
        height: 436px;
        min-height: 436px;
        border-radius: 5px;
        overflow: hidden;
        transition: transform 0.6s ease;

        @media screen and (max-width: v.$tablet) {
          height: 333px;
          min-height: 333px;
        }

        img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 5px;

          @media screen and (max-width: v.$desktop-small) {
            height: 436px;
          }
        }
      }

      .card-img img:hover {
        scale: 1.2;
      }

      .about-card {
        @include m.position(column, flex-start, center, center);
        padding: 30px 0 50px;
        height: 311px;

        @media screen and (max-width: v.$desktop-small) {
          padding: 0;
        }
      }

      .name-card {
        position: absolute;
        @include m.position(row, center, center, center);
        line-height: 1.3;
        @include m.font(26px, 500);
        background-color: v.$bg-purple-col;
        padding: 13px 20px;
        border-radius: 5px 0;
        padding-left: 30px;
        @media screen and (max-width: v.$desktop-small) {
          padding: 13px 25px;
        }
      }

      .name-animal {
        margin: 0 0 20px;
        line-height: 1.3;
        @include m.font(26px, 500);
        @media screen and (max-width: v.$desktop-small) {
          margin: 15px 0;
        }
      }

      .about-animal {
        height: 70px;
        padding: 0 45px;
        line-height: 1.5;
        flex-grow: 1;
        @include m.font(18px, 400);

        @media screen and (max-width: v.$desktop-small) {
          padding: 0 20px;
        }
        @media screen and (max-width: v.$tablet) {
          height: 105px;
          padding: 0 25px;
        }
      }

      .cam-button {
        @include m.position(row, center, center, center);
        @include m.size(240px, 74px);
        border-radius: 5px;
        background-color: transparent;
        color: v.$bg-orange-col;
        @include m.font(20px, 600);
        line-height: 1.5;
        gap: 10px;
        transition: 0.3s ease;
        cursor: pointer;
        @media screen and (max-width: v.$desktop-small) {
          margin-bottom: 35px;
        }
        @media screen and (max-width: v.$tablet) {
          margin: 0;
        }
      }

      .cam-button:hover {
        align-self: center;
        background-color: v.$bg-orange-col;
        color: #fff;
        cursor: pointer;
      }
    }

    .refresh-page-txt {
      align-self: center;
    }
  }

  .meet-button:hover {
    background-color: v.$bg-purple-col;
    color: #fff;
    cursor: pointer;
  }

  .meet-button {
    @include m.btn-template(360px, 74px);
    margin: 100px 0 150px;
    color: v.$bg-purple-col;
    border: 1px solid v.$bg-purple-col;
    align-self: center;
    transition: 0.3s ease;

    @media screen and (max-width: v.$desktop-small) {
      margin-top: 50px;
    }

    @media screen and (max-width: v.$tablet) {
      width: 345px;
      margin: 50px 0 100px;
    }
    @media screen and (max-width: v.$mobile) {
      display: none;
    }
  }
}

.pay-section {
  width: 1920px;
  max-width: 1920px;
  background-color: v.$bg-purple-col;
  color: #fff;
  @include m.position(row, center, center, flex-start);

  @media screen and (max-width: v.$desktop-small) {
    width: v.$desktop-small;
  }

  @media screen and (max-width: v.$tablet) {
    width: v.$tablet;
  }

  @media screen and (max-width: v.$mobile) {
    width: v.$mobile;
  }

  .pay-container {
    padding-top: 90px;
    width: calc(1400px / 1920px) * 100%;

    @media screen and (max-width: v.$desktop-small) {
      position: relative;
      width: v.$desktop-small;
      padding: 150px 40px 100px;
    }

    @media screen and (max-width: v.$tablet) {
      padding: 80px 0 85px;
    }

    @media screen and (max-width: v.$mobile) {
      padding: 20px 0 45px;
    }

    h2 {
      @include m.h2;
      padding-bottom: 100px;
      @media screen and (max-width: v.$desktop-small) {
        padding-left: 55px;
      }
      @media screen and (max-width: v.$tablet) {
        text-align: center;
        padding-bottom: 50px;
        padding-left: 0;
      }
      @media screen and (max-width: v.$mobile) {
        font-size: 26px;
      }
    }

    .line-container {
      height: 34px;
      font-size: 26px;
      margin-bottom: 82px;
      @include m.position(row, space-between, center, center);
      @media screen and (max-width: v.$desktop-small) {
        margin-bottom: 62px;
      }
      @media screen and (max-width: v.$tablet) {
        justify-content: space-between;
        padding: 0 20px;
        gap: 10px;
        margin-bottom: 0;
      }
      @media screen and (max-width: v.$mobile) {
        padding: 0 0 0 10px;
      }

      .line {
        width: calc(1280px / 1400px) * 100%;
        height: 2px;
        background-color: #fff;

        @media screen and (max-width: v.$desktop-small) {
          width: 1025px;
        }
        @media screen and (max-width: v.$tablet) {
          width: calc(563px / 600px) * 100%;
        }
      }
    }

    .pay-content {
      @include m.position(row, center, center, flex-start);
      height: auto;
      gap: 155px;
      margin-bottom: 100px;

      @media screen and (max-width: v.$desktop-small) {
        align-items: center;
        margin-bottom: 80px;
        gap: 20px;
      }

      @media screen and (max-width: v.$tablet) {
        height: auto;
        flex-direction: column;
        margin-bottom: 0;
        gap: 50px;
      }

      @media screen and (max-width: v.$mobile) {
        padding: 0;
        gap: 30px;
      }

      .icon-pay-text {
        margin-bottom: 30px;
        margin-top: 20px;
        @media screen and (max-width: v.$desktop-small) {
          margin-top: 0;
        }
      }

      .pay-header {
        font-size: 26px;
        line-height: 1.3;
        font-weight: 400;
        margin-bottom: 50px;

        @media screen and (max-width: v.$desktop-small) {
          margin-bottom: 30px;
          padding: 0 20px;
        }
      }

      .pay-img-container {
        width: 560px;
        height: 364px;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          display: block;
        }

        @media screen and (max-width: v.$desktop-small) {
          width: 550px;
          height: 358px;
        }
        @media screen and (max-width: v.$tablet) {
          margin-top: 50px;
          width: v.$tablet;
          height: 417px;

          img {
            width: 100%;
          }
        }
        @media screen and (max-width: v.$mobile) {
          width: v.$mobile;
          margin-top: 30px;
          height: 208px;
          padding: 0;
        }

        /* img {
            width: 100%;
            height: 100%;
            display: block;
          } */
      }

      .pay-text {
        @include m.position(column, center, center, flex-start);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        align-self: center;
        padding-right: 110px;

        @media screen and (max-width: v.$desktop-small) {
          text-align: center;
          align-items: center;
          padding-right: 0;
        }

        @media screen and (max-width: v.$tablet) {
          text-align: center;
          padding: 0 20px 50px;
        }

        @media screen and (max-width: v.$mobile) {
          padding: 0 0 50px;
        }

        .pay-paragraph {
          padding: 0 10px;
          @media screen and (max-width: v.$desktop-small) {
            text-align: center;
            padding: 0;
          }
          @media screen and (max-width: v.$tablet) {
            padding: 0 5px;
          }
          @media screen and (max-width: v.$mobile) {
            padding: 0 20px;
          }
        }

        .pay-paragraph-second {
          @media screen and (max-width: v.$mobile) {
            padding: 0 5px;
          }
        }

        .button-donate-now {
          margin-top: 50px;
          @include m.btn-template(240px, 74px);
          background-color: v.$bg-orange-col;

          &:hover {
            background-color: v.$bg-orange-hover;
          }

          @media screen and (max-width: v.$desktop-small) {
            position: absolute;
            bottom: 0;
            left: 51%;
            width: 266px;
            margin-top: 118px;
          }

          @media screen and (max-width: v.$tablet) {
            width: 290px;
            margin-top: 0;
            transform: translateX(-50%);
          }

          @media screen and (max-width: v.$mobile) {
            width: 300px;
            height: 45px;
          }

          img {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.care-section {
  padding: 136px 260px 0;
  @include m.position(column, center, center, center);
  text-align: center;

  @media screen and (max-width: v.$desktop-small) {
    padding: 150px 135px 0;
  }

  @media screen and (max-width: v.$tablet) {
    align-items: start;
    width: v.$tablet;
    padding: 80px 20px 100px 20px;
    overflow: hidden;
  }

  @media screen and (max-width: v.$mobile) {
    width: v.$mobile;
    padding: 50px 10px 0;
  }

  .care-card-container {
    @include m.position(row, flex-start, center, flex-start);
    //padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 40px;

    @media screen and (max-width: v.$desktop-small) {
      gap: 20px;
    }

    @media screen and (max-width: v.$tablet) {
      height: 297px;
      flex-wrap: nowrap;
      overflow-x: hidden;
      scroll-snap-type: x mandatory;
    }

    @media screen and (max-width: v.$mobile) {
      height: 570px;
      gap: 10px;
      padding-bottom: 0;
    }

    .care-bg-card {
      @media screen and (max-width: v.$desktop-small) {
        width: 930px;
        height: 470px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          transform: scaleX(-1);
        }
      }
      @media screen and (max-width: v.$tablet) {
        display: none;
      }
    }
    .care-slide-animal-card {
      position: relative;
      @include m.position(column, flex-start, center, flex-start);
      @include m.size(440px, 658px);
      background-color: v.$bg-purple-col;
      color: #fff;
      border-radius: 5px;
      transition: all 0.3s ease;

      @media screen and (max-width: v.$desktop-small) {
        @include m.size(455px, 641px);
      }

      @media screen and (max-width: v.$tablet) {
        width: 600px;
        flex-direction: row;
        justify-content: space-between;
        flex: 0 0 600px;
        height: auto;
      }

      @media screen and (max-width: v.$mobile) {
        max-width: 353px;
        width: 300px;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 320px;
        height: 100%;
      }

      .card-img {
        height: 373px;
        border-radius: 5px;
        overflow: hidden;

        @media screen and (max-width: v.$desktop-small) {
          width: 455px;
        }
        @media screen and (max-width: v.$tablet) {
          width: 300px;
          height: 297px;
        }

        @media screen and (max-width: v.$mobile) {
          height: 353px;
        }

        img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      .card-img img:hover {
        scale: 1.2;
      }

      .about-card {
        height: 285px;
        @include m.position(column, space-between, center, center);
        padding: 30px 25px 50px;

        @media screen and (max-width: v.$desktop-small) {
          height: 268px;
        }
        @media screen and (max-width: v.$tablet) {
          width: 300px;
          height: 100%;
          padding: 66px 0 60px;
        }
        @media screen and (max-width: v.$mobile) {
          width: 300px;
          height: 100%;
          padding-top: 15px;
          padding-bottom: 20px;
        }
      }

      .about-animal {
        height: 70px;
        @include m.font(18px, 400);
        line-height: 1.5;
        @media screen and (max-width: v.$tablet) {
          height: 105px;
          padding: 0 25px;
        }
        @media screen and (max-width: v.$mobile) {
          padding: 0 30px;
        }
      }

      .cam-button {
        @include m.position(row, center, center, center);
        color: v.$bg-orange-col;
        @include m.font(20px, 600);
        line-height: 1.5;
        @include m.size(142px, 74px);
        border-radius: 5px;
        gap: 10px;
        cursor: pointer;

        &:hover {
          background-color: v.$bg-orange-col;
          color: #fff;
        }

        @media screen and (max-width: v.$desktop-small) {
          margin-bottom: 0;
        }
        @media screen and (max-width: v.$tablet) {
          margin: 0;
        }
      }
    }
    //orders animal
    @media screen and (max-width: v.$desktop-small) {
      .panda {
        order: 1;
      }
      .tiger {
        order: 3;
      }
      .lemur {
        order: 2;
      }
      .eagles {
        order: 4;
      }
    }
  }
  .care-text-container {
    width: 570px;

    @media screen and (max-width: v.$desktop-small) {
      margin-left: 35px;
    }

    @media screen and (max-width: v.$tablet) {
      width: auto;
      align-self: center;
      margin: 0;
    }
    .care-title {
      @include m.h2;

      @media screen and (max-width: v.$mobile) {
        font-size: 26px;
      }
    }

    .care-paragraph {
      font-size: 26px;
      line-height: 1.3;
      font-weight: 500;
      margin: 55px 0 100px;
      padding: 0 20px;
      color: v.$bg-purple-col;

      @media screen and (max-width: v.$desktop-small) {
        margin-bottom: 50px;
        margin-top: 30px;
        padding: 0 0 0 65px;
      }
      @media screen and (max-width: v.$tablet) {
        margin-bottom: 70px;
        margin-top: 30px;
        padding: 0;
      }
      @media screen and (max-width: v.$mobile) {
        font-size: 18px;
        margin: 30px 10px;
      }
    }
  }

  .care-comments-circe-container {
    display: none;

    @media screen and (max-width: v.$tablet) {
      width: 92px;
      height: 8px;
      margin: 50px 0 50px;
      @include m.position(row, space-between, center, center);
      align-self: center;
    }
    @media screen and (max-width: v.$mobile) {
      margin-top: 30px;
    }

    .circle {
      width: 8px;
      height: 8px;
      border: 1px solid v.$bg-purple-col;
      border-radius: 100%;
    }

    .circle:hover {
      background-color: v.$bg-purple-col;
    }
  }

  .meet-button:hover {
    background-color: v.$bg-purple-col;
    color: #fff;
    cursor: pointer;
  }

  .meet-button {
    @include m.btn-template(360px, 74px);
    margin: 100px 0 150px;
    color: v.$bg-purple-col;
    border: 1px solid v.$bg-purple-col;
    align-self: center;
    transition: 0.3s ease;

    @media screen and (max-width: v.$tablet) {
      margin: 0;
    }
    @media screen and (max-width: v.$mobile) {
      @include m.size(300px, 45px);
      text-transform: capitalize;
      margin: 0 0 80px;
    }
  }
}

.care-bg-container {
  width: 1400px;
  height: 652px;
  background-image: url('../assets/images/care-bg.png');
  margin: 0 260px 150px;
  @media screen and (max-width: v.$desktop-small) {
    width: v.$desktop-small;
    height: 668px;
    background-size: 120%;
    margin: 0 0 150px;
  }

  @media screen and (max-width: v.$tablet) {
    width: v.$tablet;
    height: 379px;
    margin-bottom: 100px;
    background-size: 130%;
  }

  @media screen and (max-width: v.$mobile) {
    width: v.$mobile;
    margin-bottom: 80px;
    height: 189px;
  }
}

.hide-text {
  @media screen and (max-width: v.$mobile) {
    display: none;
  }
}

@media screen and (max-width: v.$desktop-small) {
  .welcome-block:first-child {
    align-self: flex-start;
  }

  .welcome-block:last-child {
    align-self: flex-end;
  }
}

@media screen and (max-width: v.$tablet) {
  .welcome-block:first-child {
    align-self: center;
  }

  .welcome-block:last-child {
    align-self: center;
  }
}

.slider-loader {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
