$ff-m: 'Montserrat', sans-serif;
$fz:18px;
$fz-sub:26px;
$fz-h1:82px;
$fz-h2:54px;
$fz-h3:42px;
$main-col:black;
$white-col:white;
$bg-purple-col: #20113D;
$bg-orange-col: #F58021;
$bg-blue-col: #00A092;
$bg-orange-hover: #D26004;
$bg-blue-hover: #05786E;
$desktop: 1920px;
$desktop-small: 1200px;
$tablet: 640px;
$mobile: 320px;