@use "_variables" as v;
@use "_mixin" as m;

.contact {
  @include m.position(column, center, center, center);

  .contact-bg {
    max-width: 1405px;
    width: 100%;
    margin-bottom: 150px;
    position: relative;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    @media screen and (max-width: v.$desktop-small){
       max-width: v.$desktop-small;
       margin-bottom: 50px;
    }

    @media screen and (max-width: v.$tablet){
      max-width: v.$tablet;
    }

    @media screen and (max-width: v.$mobile){
      max-width: v.$mobile;
      margin-bottom: 30px;
    }
  }

  .main-content {
    width: 100%;
    @include m.position(row, space-between, center);
    margin-bottom: 150px;

    .get-in-touch_title{
      @include m.h2;
      color: v.$bg-blue-col;
      text-align: left;
      margin-bottom: 50px;
      @media screen and (max-width: v.$desktop-small)  {
        text-align: center;
        margin-bottom: 30px;
      }

      @media screen and (max-width: v.$mobile) {
        font-size: 26px;
        font-weight: 500;
      }
    }

    .get-in-touch p {
      width: 545px;
      font-size: v.$fz;
      font-weight: 400;
      color: black;

      @media screen and (max-width: v.$desktop-small)  {
        width: 840px;
        text-align: center;
        padding-left: 40px;
      }

      @media screen and (max-width: v.$tablet)  {
        width: 100%;
        padding-left: 0;
      }

      @media screen and (max-width: v.$mobile)  {
        padding: 0 20px;
      }
    }

    .form-contact{

      @include m.position(column, baseline, center);
      width: 680px;

      label {
        font-size: v.$fz;
        font-weight: 400;
        span {
          color: v.$bg-blue-col;
          margin-right: 5px;
        }
      }

      input {
        @include m.size(100%,60px);
        border: 1px solid black;
        border-radius: 5px;
        margin: 10px 0 30px;
        padding-left: 20px;

        @media screen and (max-width: v.$mobile) {
          height: 50px;
        }
      }

      textarea {
        @include m.size(100%,200px);
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 70px;
        padding-left: 20px;
        padding-top: 20px;
        margin-top: 10px;

        @media screen and (max-width: v.$desktop-small)  {
          margin-bottom: 50px;
        }

        @media screen and (max-width: v.$mobile)  {
          margin-bottom: 30px;
        }
      }

      .submit-contact-form {
      @include m.btn-template;
      background-color: v.$bg-blue-col;

        @media screen and (max-width: v.$tablet)  {
          @include m.size(290px, 74px);
        }

        @media screen and (max-width: v.$mobile)  {
          @include m.size(300px, 50px);
        }
      }

      @media screen and (max-width: v.$desktop-small)  {
        margin-top: 50px;
        width: 740px;
      }

      @media screen and (max-width: v.$tablet)  {
        width: 100%;
      }

    }

    @media screen and (max-width: v.$desktop-small)  {
      @include m.position(column, center, center, center);
      margin-bottom: 100px;
    }

    @media screen and (max-width: v.$tablet) {
      padding: 0 20px;
    }

    @media screen and (max-width: v.$mobile) {
      width: v.$mobile;
      padding: 0 10px;
      margin-bottom: 80px;
    }
  }
}

.contact .main-content .form-contact .submit-contact-form:hover{
  background-color: v.$bg-blue-hover;
}