@use "_variables" as v;
@use "_mixin" as m;

body {
  width: v.$desktop;
  min-height: 100vh;
  background-color: green;

  @include m.position(column, flex-start, center, center);
  margin: 0 auto;
  @media screen and (max-width: v.$desktop-small) {
    max-width: v.$desktop-small;
  }

  @media screen and (max-width: v.$tablet) {
    max-width: v.$tablet;
  }

  @media screen and (max-width: v.$mobile) {
    max-width: v.$mobile;
  }
}