@use "_variables" as v;
@use "_mixin" as m;

body {
  width: v.$desktop;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  @include m.position(column, flex-start, center, center);
  margin: 0 auto;

  @media screen and (max-width: v.$desktop-small) {
    max-width: v.$desktop-small;
  }

  @media screen and (max-width: v.$tablet) {
    max-width: v.$tablet;
  }

  @media screen and (max-width: v.$mobile) {
    max-width: v.$mobile;
  }
}

.watch-section {
  width: v.$desktop;
  max-width: v.$desktop;
  height: 830px;
  background-size: cover;
  background-position: bottom center;
  background-image: url("../assets/images/bg-watch.png");
  padding-left: 260px;
  padding-top: 130px;

  @media screen and (max-width: v.$desktop-small) {
    width: v.$desktop-small;
    max-width: v.$desktop-small;
    height: 690px;
    background-position: bottom right;
    background-image: url("../assets/images/bg-watch-small-d.png");
  }

  @media screen and (max-width: v.$tablet) {
    width: v.$tablet;
    max-width: v.$tablet;
    height: 644px;
    padding: 50px 20px 0;
    background-size: 100% 60%;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: v.$mobile) {
    max-width: v.$mobile;
    padding: 20px 10px 0;
    height: 686px;
    background-size: 100% 35%;
  }

  .title-watch {
    width: 740px;
    font-size: 82px;
    font-weight: 800;
    color: v.$bg-blue-col;
    text-transform: uppercase;

    @media screen and (max-width: v.$tablet) {
      width: 100%;
      max-width: v.$tablet;
      font-size: 72px;
    }
    @media screen and (max-width: v.$mobile) {
      font-size: 40px;
    }
  }

  .paragraph-watch {
    width: 340px;
    @include m.font(v.$fz, 400);
    line-height: 150%;
    margin: 50px 0;

    @media screen and (max-width: v.$desktop-small) {
      margin: 30px 0;
    }

    @media screen and (max-width: v.$mobile) {
      width: 100%;
    }
  }

  .button-watch:hover {
    background-color: v.$bg-orange-hover;
  }

  .button-watch {
    @include m.btn-template(240px, 74px);
    background-color: v.$bg-orange-col;
    transition: 0.3s ease;
    @media screen and (max-width: v.$mobile) {
     width: 300px;
     height: 45px;
    }
  }
}

.welcome-section {
  width: v.$desktop;
  @include m.position(column, center, center, center);
  margin: 150px 0;
  gap: 150px;

  @media screen and (max-width: v.$desktop-small) {
    max-width: v.$desktop-small;
    margin: 100px 0;
    gap: 50px;
  }

  @media screen and (max-width: v.$tablet) {
    max-width: v.$tablet;
  }

  @media screen and (max-width: v.$mobile) {
    max-width: v.$mobile;
    margin: 50px 0;
  }

  :last-child{
    flex-direction: row-reverse;
  }

  .welcome-block{
    width: calc(1400px / 1920px)*100%;
    display: flex;
    align-items: center;
    gap: 40px;
    box-sizing: content-box;

    .welcome-img {

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    .welcome-title {
      @include m.h2;
      color: v.$bg-blue-col;
      margin-bottom: 50px;
      text-transform: uppercase;

      @media screen and (max-width: v.$desktop-small) {
        margin-bottom: 30px;
      }

      @media screen and (max-width: v.$tablet) {
        padding: 0 40px 0 20px;
      }

      @media screen and (max-width: v.$mobile) {
        font-size: 26px;
        font-weight: 500;
        padding: 0 50px 0 10px;
      }
    }

    .welcome-paragraph {
      font-size: v.$fz;
      line-height: 150%;
      font-weight: 400;

      .hide-text{
        @media screen and (max-width: v.$mobile) {
          display: none;
        }
      }

      @media screen and (max-width: v.$tablet) {
        padding: 0 20px;
      }

      @media screen and (max-width: v.$mobile) {
        padding: 0 10px;
      }
    }

    @media screen and (max-width: v.$desktop-small) {
      max-width: 660px;
      width: 660px;
      flex-direction: column-reverse;
      padding: 0 100px;
      gap: 30px;
    }

     @media screen and (max-width: v.$tablet) {
       max-width: v.$tablet;
       padding: 0;
     }

     @media screen and (max-width: v.$mobile) {
       max-width: v.$mobile;
     }
  }
}

.donation-block {
  height: 220px;
  background-color: v.$bg-purple-col;
  @include m.position(row, center, center, center);
  color: #fff;

  @media screen and (max-width: v.$desktop-small) {
    height: 315px;
  }
  @media screen and (max-width: v.$tablet) {
    height: 460px;
  }

  @media screen and (max-width: v.$mobile) {
    height: 445px;
  }

  .donation-content{
    width: calc(1400px / 1920px)*100%;
    @include m.position(row, space-between, center);

    .donation-text h3 {
      font-size: 42px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 20px;

      @media screen and (max-width: v.$tablet) {
        margin-bottom: 30px;
      }

      @media screen and (max-width: v.$mobile) {
        font-size: 26px;
      }
    }

    .donation-text {
      @media screen and (max-width: v.$mobile) {
        width: 90%;
      }
    }

    .donation-text p {
      max-width: 600px;
      font-size: 18px;
      line-height: 1.5;
      @media screen and (max-width: v.$desktop-small) {
        width: 500px;
      }
      @media screen and (max-width: v.$tablet) {
        width: 100%;
        padding: 0 20px;
      }
      @media screen and (max-width: v.$mobile) {
        padding: 0;
      }
    }

    .donation-button-container:hover {
      .icon-wrapper {
        background-color: v.$bg-orange-hover;
      }
    }

    .donation-button-container h4 {
      font-size: 26px;
      line-height: 1.3;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .donation-button-container button {
      @include m.btn-template(320px);
      justify-content: end;
      gap: 20px;
      background-color: inherit;
      border: 1px solid #fff;

      .icon-wrapper {
        display: flex;
        justify-content: center;
        width: 80px;
        height: 74px;
        background-color: v.$bg-orange-col;
        border-radius: 5px;
        border: 1px solid #fff;
        border-left: none;

        img {
          width: 25px;
          height: 22;
          max-width: 100%;
          max-height: 100%;
        }

        @media screen and (max-width: v.$mobile) {
          width: 60px;
          height: 45px;
        }
      }

      @media screen and (max-width: v.$tablet) {
        width: 365px;
      }

      @media screen and (max-width: v.$mobile) {
        font-size: 16px;
        font-weight: 600;
        width: 300px;
        height: 45px;
      }
    }

    @media screen and (max-width: v.$desktop-small) {
      width: calc(1000px / 1200px)*100%;
    }
    @media screen and (max-width: v.$tablet) {
      width: v.$tablet;
      @include m.position(column, center, center, center);
      text-align: center;
      gap: 30px;
    }
    @media screen and (max-width: v.$mobile) {
    width: v.$mobile;
    }
  }
}

.meet-section {
  width: 1920px;
  @include m.position(column,center,center,flex-start);
  text-align: center;
  overflow: hidden;

  @media screen and (max-width: v.$desktop-small) {
    width: v.$desktop-small;
  }

  @media screen and (max-width: v.$tablet){
    width: v.$tablet;
    align-items: flex-end;
  }

  @media screen and (max-width: v.$mobile){
    width: v.$mobile;
  }

  .meet-text{
    margin: 135px 0 100px;
    align-self: center;

    h2 {
      @include m.h2;
      color: v.$bg-blue-col;
      text-transform: uppercase;
      margin-bottom: 50px;
      @media screen and (max-width: v.$desktop-small){
        margin-bottom: 30px;
      }

      @media screen and (max-width: v.$tablet){
        margin: 0 100px 30px;
      }
      @media screen and (max-width: v.$mobile){
        font-size: 26px;
        margin: 0 0 30px;
      }
    }
    p{
      width: 850px;
      font-size: 26px;
      line-height: 1.3;

      @media screen and (max-width: v.$tablet){
        width: 100%;
        padding: 0 20px;
      }
      @media screen and (max-width: v.$mobile){
        font-size: 18px;
        line-height: 1.5;
        padding: 0 10px;
        font-weight: 400;
      }
    }

    @media screen and (max-width: v.$tablet){
      margin: 100px 0 50px;
    }
    @media screen and (max-width: v.$mobile){
      margin: 50px 0 30px;
    }
  }

  .arrow-container .arrows:hover {
    background-color: v.$bg-purple-col;
    background-image: url(../assets/icons/vector.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
  }

  .arrow-container {
    display: flex;
    gap: 55px;
    margin-bottom: 50px;
    align-self: center;
    cursor: pointer;

    .arrows {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border: 1px solid v.$bg-purple-col;
    }

    @media screen and (max-width: v.$tablet) {
      display: none;
    }
  }

  .meet-slide-container{
    @include m.position(row, flex-start, center, center);
    width: 1920px;
    height: 1540px;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: 260px;

    @media screen and (max-width: v.$desktop-small){
      flex-direction: row;
      width: 1900px;
      height: 1452px;
      margin-left: 25px;
      gap: 20px;
    }

    @media screen and (max-width: v.$tablet){
      transform: translateX(310px);
      width: 2480px;
      height: 600px;
    }

    @media screen and (max-width: v.$mobile){
      transform: translateX(625px);
      margin-bottom: 65px;
    }

    .slide-animal-card {
      position: relative;
      @include m.position(column, flex-start, center , flex-start);
      @include m.size(440px, 750px);
      background-color: v.$bg-purple-col;
      color: #fff;
      border-radius: 5px;

      @media screen and (max-width: v.$desktop-small){
        @include m.size(455px, 715px);
      }

      @media screen and (max-width: v.$tablet){
        @include m.size(290px, 600px);
      }

      .card-img {
        width: 100%;
        height: 436px;
        @media screen and (max-width: v.$tablet){
          height: 333px;
        }

        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      .name-card {
        position: absolute;
        @include m.position(row, center, center, center);
        line-height: 1.3;
        @include m.font(26px, 500);
        background-color: v.$bg-purple-col;
        padding: 12px 20px;
      }

      .name-animal {
        margin: 30px 0 20px;
        line-height: 1.3;
        @include m.font(26px, 500);
        @media screen and (max-width: v.$desktop-small){
          margin: 15px 0;
        }
      }

      .about-animal {
        height: 70px;
        padding: 0 45px;
        @include m.font(18px, 400);
        @media screen and (max-width: v.$tablet){
          height: 105px;
          padding: 0 25px;
        }
      }

      .cam-button {
        @include m.position(row, center, center, center);
        color: v.$bg-orange-col;
        @include m.font(20px, 600);
        line-height: 1.5;
        margin: 55px 75px;
        gap: 10px;
        @media screen and (max-width: v.$desktop-small){
          margin-bottom: 60px;
        }
        @media screen and (max-width: v.$tablet){
          margin: 45px 0 35px;
        }
      }
    }
  }

  .meet-button:hover {
    background-color: v.$bg-purple-col;
    color: #fff;
    cursor: pointer;
  }

  .meet-button {
    @include m.btn-template(360px, 74px);
    margin: 100px 0 150px;
    color: v.$bg-purple-col;
    border: 1px solid v.$bg-purple-col;
    align-self: center;
    transition: 0.3s ease;

    @media screen and (max-width: v.$tablet){
      margin: 50px 0 100px;
    }
    @media screen and (max-width: v.$mobile){
      display: none;
    }
  }
}

@media screen and (max-width: v.$desktop-small) {
.welcome-block:first-child {
  align-self: flex-start;
  }

.welcome-block:last-child {
    align-self: flex-end;
  }
}

@media screen and (max-width: v.$tablet) {
.welcome-block:first-child {
  align-self: center;
  }

.welcome-block:last-child {
    align-self: center;
  }
}