body {
  width: 1920px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  body {
    max-width: 1200px;
  }
}
@media screen and (max-width: 640px) {
  body {
    max-width: 640px;
  }
}
@media screen and (max-width: 320px) {
  body {
    max-width: 320px;
  }
}

.watch-section {
  width: 1920px;
  max-width: 1920px;
  height: 830px;
  background-size: cover;
  background-position: bottom center;
  background-image: url("../assets/images/bg-watch.png");
  padding-left: 260px;
  padding-top: 130px;
}
.watch-section .title-watch {
  width: 740px;
  font-size: 82px;
  font-weight: 800;
  color: #00A092;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .watch-section .title-watch {
    width: 100%;
    max-width: 640px;
    font-size: 72px;
  }
}
@media screen and (max-width: 320px) {
  .watch-section .title-watch {
    font-size: 40px;
  }
}
.watch-section .paragraph-watch {
  width: 340px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin: 50px 0;
}
@media screen and (max-width: 1200px) {
  .watch-section .paragraph-watch {
    margin: 30px 0;
  }
}
@media screen and (max-width: 320px) {
  .watch-section .paragraph-watch {
    width: 100%;
  }
}
.watch-section .button-watch {
  width: 240px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 600;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  background-color: #F58021;
}
@media screen and (max-width: 320px) {
  .watch-section .button-watch {
    width: 300px;
    height: 45px;
  }
}
@media screen and (max-width: 1200px) {
  .watch-section {
    width: 1200px;
    max-width: 1200px;
    height: 690px;
    background-position: bottom right;
    background-image: url("../assets/images/bg-watch-small-d.png");
  }
}
@media screen and (max-width: 640px) {
  .watch-section {
    width: 640px;
    max-width: 640px;
    height: 644px;
    padding: 50px 20px 0;
    background-size: 100% 60%;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 320px) {
  .watch-section {
    max-width: 320px;
    padding: 20px 10px 0;
    height: 686px;
    background-size: 100% 35%;
  }
}

header {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  background-color: #F58021;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 72.9166666667%;
  height: 50px;
}
@media screen and (max-width: 1200px) {
  .header-container {
    width: 83.3333333333%;
    height: 110px;
  }
}
@media screen and (max-width: 640px) {
  .header-container {
    width: 100%;
    height: 110px;
  }
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
@media screen and (max-width: 640px) {
  .header-content {
    gap: 0;
    margin-right: 50px;
  }
}
@media screen and (max-width: 320px) {
  .header-content {
    margin-right: 36px;
  }
}

.navigation-menu ul,
.social-media-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .navigation-menu ul,
  .social-media-icons ul {
    gap: 30px;
  }
}
@media screen and (max-width: 640px) {
  .navigation-menu ul,
  .social-media-icons ul {
    display: none;
  }
}

.navigation-menu ul {
  gap: 50px;
}

.social-media-icons ul {
  gap: 30px;
}

.navigation-menu ul li {
  text-transform: uppercase;
}

.highlighted {
  color: #00A092;
}

@media screen and (max-width: 640px) {
  .logo {
    margin-left: 20px;
  }
}

.burger-container {
  position: relative;
  display: none;
  z-index: 1100;
}
@media screen and (max-width: 640px) {
  .burger-container {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.burger-toggle {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 2;
  transition: 0.5s ease;
}

.burger-toggle:checked ~ .burger-line:nth-child(2) {
  transform: rotate(45deg) translate(10px, 10px);
  background: white;
}

.burger-toggle:checked ~ .burger-line:nth-child(3) {
  opacity: 0;
}

.burger-toggle:checked ~ .burger-line:nth-child(4) {
  transform: rotate(-45deg) translate(8px, -8px);
  background: #fff;
}

.burger-toggle:checked ~ .burger-line {
  width: 40px;
}

.header-content:has(.burger-toggle:checked) .side-menu {
  right: 0;
}

.burger-line {
  background-color: #000;
  width: 100%;
  height: 2.5px;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -320px;
  z-index: 1000;
  width: 310px;
  height: 754px;
  transition: 0.3s ease;
  background-color: #20113D;
}
.side-menu .side-navigation-menu {
  display: none;
}
@media screen and (max-width: 640px) {
  .side-menu .side-navigation-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin-top: 150px;
    list-style: none;
    text-transform: uppercase;
    color: #fff;
  }
}
@media screen and (max-width: 320px) {
  .side-menu {
    gap: 40px;
    margin-top: 130px;
  }
}

footer {
  max-width: 1920px;
  width: 1920px;
  height: 329px;
  background-color: #20113D;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 600;
}
footer .footer-content {
  width: 1400px;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  padding-bottom: 70px;
  margin-top: 70px;
}
footer .footer-content .footer-logos {
  width: 414px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1200px) {
  footer .footer-content .footer-logos {
    width: 344px;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-content .footer-logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    gap: 30px;
  }
}
footer .footer-content .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 46px;
}
footer .footer-content .footer-menu li a {
  font-size: 18px;
  text-transform: uppercase;
}
@media screen and (max-width: 320px) {
  footer .footer-content .footer-menu li a {
    font-size: 16px;
    font-weight: 600;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer-content .footer-menu {
    gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-content .footer-menu {
    gap: 15px;
  }
}
footer .footer-content .footer-button-donate {
  border: 1px solid #fff;
  background-color: transparent;
  width: 360px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 600;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (max-width: 320px) {
  footer .footer-content .footer-button-donate {
    width: 300px;
    height: 45px;
    text-transform: none;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer-content {
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer-content {
    max-width: 640px;
    padding: 50px 0;
    margin: 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-content {
    max-width: 320px;
    border-bottom: none;
    padding: 50px 0 30px;
    gap: 30px;
  }
}
footer .footer-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  margin-top: 37px;
  font-weight: 400;
}
footer .footer-contacts .autors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  text-align: center;
}
@media screen and (max-width: 320px) {
  footer .footer-contacts .autors {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid #fff;
    gap: 30px;
  }
}
footer .footer-contacts #footer-social-media-icons {
  gap: 40px;
}
@media screen and (max-width: 640px) {
  footer .footer-contacts #footer-social-media-icons ul {
    display: flex;
    gap: 50px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer-contacts #footer-social-media-icons {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer-contacts {
    padding: 0 40px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer-contacts {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    padding: 50px 0 0;
    margin: 0;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-contacts {
    max-width: 320px;
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  footer {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  footer {
    height: 545px;
  }
}
@media screen and (max-width: 320px) {
  footer {
    height: 710px;
  }
}

footer .footer-content .footer-button-donate:hover {
  background-color: #00A092;
}

.map-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.map-section .map-tittle {
  margin: 40px 0 70px;
  text-transform: uppercase;
  text-align: center;
  color: #20113D;
  font-size: 54px;
  font-weight: 600;
}
.map-section .map-tittle .desktop-break {
  display: block;
}
@media (max-width: 640px) {
  .map-section .map-tittle .desktop-break {
    display: none;
  }
}
.map-section .map-tittle .mobile-break {
  display: none;
}
@media (max-width: 640px) {
  .map-section .map-tittle .mobile-break {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  .map-section .map-tittle {
    margin: 30px 0;
  }
}
@media screen and (max-width: 640px) {
  .map-section .map-tittle {
    margin: 30px 0 50px;
  }
}
@media screen and (max-width: 320px) {
  .map-section .map-tittle {
    margin: 30px 0;
    text-transform: none;
  }
}
.map-section .map-img {
  max-width: 1405px;
  width: 100%;
  margin-bottom: 150px;
  position: relative;
}
.map-section .map-img img {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 1200px) {
  .map-section .map-img {
    max-width: 1200px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 320px) {
  .map-section .map-img {
    margin-bottom: 50px;
  }
}

.map-marker {
  position: absolute;
  cursor: pointer;
}

.map-marker img {
  display: block;
  transition: opacity 0.3s ease;
}

.marker-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.map-marker:hover .marker-default {
  opacity: 0;
}

.map-marker:hover .marker-hover {
  opacity: 1;
}

.marker-1 {
  top: 50%;
  left: 46%;
}

.marker-2 {
  top: 68%;
  left: 80%;
}

.marker-3 {
  top: 40%;
  left: 20%;
}

.marker-4 {
  top: 50%;
  left: 39%;
}

.marker-5 {
  top: 63%;
  left: 55%;
}

.marker-6 {
  top: 40%;
  left: 67%;
}

.marker-7 {
  top: 55%;
  left: 70%;
}

.marker-8 {
  top: 43%;
  left: 10%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-bg {
  max-width: 1405px;
  width: 100%;
  margin-bottom: 150px;
  position: relative;
}
.contact .contact-bg img {
  width: 100%;
  height: auto;
  display: block;
}
@media screen and (max-width: 1200px) {
  .contact .contact-bg {
    max-width: 1200px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 640px) {
  .contact .contact-bg {
    max-width: 640px;
  }
}
@media screen and (max-width: 320px) {
  .contact .contact-bg {
    max-width: 320px;
    margin-bottom: 30px;
  }
}
.contact .main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 150px;
}
.contact .main-content .get-in-touch_title {
  font-size: 54px;
  font-weight: 600;
  color: #00A092;
  text-align: left;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .contact .main-content .get-in-touch_title {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .contact .main-content .get-in-touch_title {
    font-size: 26px;
    font-weight: 500;
  }
}
.contact .main-content .get-in-touch p {
  width: 545px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}
@media screen and (max-width: 1200px) {
  .contact .main-content .get-in-touch p {
    width: 840px;
    text-align: center;
    padding-left: 40px;
  }
}
@media screen and (max-width: 640px) {
  .contact .main-content .get-in-touch p {
    width: 100%;
    padding-left: 0;
  }
}
@media screen and (max-width: 320px) {
  .contact .main-content .get-in-touch p {
    padding: 0 20px;
  }
}
.contact .main-content .form-contact {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  width: 680px;
}
.contact .main-content .form-contact label {
  font-size: 18px;
  font-weight: 400;
}
.contact .main-content .form-contact label span {
  color: #00A092;
  margin-right: 5px;
}
.contact .main-content .form-contact input {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0 30px;
  padding-left: 20px;
}
@media screen and (max-width: 320px) {
  .contact .main-content .form-contact input {
    height: 50px;
  }
}
.contact .main-content .form-contact textarea {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 70px;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 1200px) {
  .contact .main-content .form-contact textarea {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 320px) {
  .contact .main-content .form-contact textarea {
    margin-bottom: 30px;
  }
}
.contact .main-content .form-contact .submit-contact-form {
  width: 360px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 600;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00A092;
}
@media screen and (max-width: 640px) {
  .contact .main-content .form-contact .submit-contact-form {
    width: 290px;
    height: 74px;
  }
}
@media screen and (max-width: 320px) {
  .contact .main-content .form-contact .submit-contact-form {
    width: 300px;
    height: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .contact .main-content .form-contact {
    margin-top: 50px;
    width: 740px;
  }
}
@media screen and (max-width: 640px) {
  .contact .main-content .form-contact {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .contact .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 640px) {
  .contact .main-content {
    padding: 0 20px;
  }
}
@media screen and (max-width: 320px) {
  .contact .main-content {
    width: 320px;
    padding: 0 10px;
    margin-bottom: 80px;
  }
}

.contact .main-content .form-contact .submit-contact-form:hover {
  background-color: #05786E;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
  box-shadow: none;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

input::placeholder,
textarea {
  color: gray;
  opacity: 1;
}

button {
  transition: opacity 0.3s ease;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
