body {
  width: 1920px;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  body {
    max-width: 1200px;
  }
}
@media screen and (max-width: 640px) {
  body {
    max-width: 640px;
  }
}
@media screen and (max-width: 320px) {
  body {
    max-width: 320px;
  }
}

header {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  background-color: #F58021;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 72.9166666667%;
  height: 50px;
}
@media screen and (max-width: 1200px) {
  .header-container {
    width: 83.3333333333%;
    height: 110px;
  }
}
@media screen and (max-width: 640px) {
  .header-container {
    width: 100%;
    height: 110px;
  }
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 65px;
}
@media screen and (max-width: 640px) {
  .header-content {
    gap: 0;
    margin-right: 50px;
  }
}
@media screen and (max-width: 320px) {
  .header-content {
    margin-right: 36px;
  }
}

.navigation-menu ul,
.social-media-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .navigation-menu ul,
  .social-media-icons ul {
    gap: 30px;
  }
}
@media screen and (max-width: 640px) {
  .navigation-menu ul,
  .social-media-icons ul {
    display: none;
  }
}

.navigation-menu ul {
  gap: 50px;
}

.social-media-icons ul {
  gap: 30px;
}

.navigation-menu ul li {
  text-transform: uppercase;
}

.highlighted {
  color: #00A092;
}

@media screen and (max-width: 640px) {
  .logo {
    margin-left: 20px;
  }
}

.burger-container {
  position: relative;
  display: none;
  z-index: 1100;
}
@media screen and (max-width: 640px) {
  .burger-container {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.burger-toggle {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 2;
  transition: 0.5s ease;
}

.burger-toggle:checked ~ .burger-line:nth-child(2) {
  transform: rotate(45deg) translate(10px, 10px);
  background: white;
}

.burger-toggle:checked ~ .burger-line:nth-child(3) {
  opacity: 0;
}

.burger-toggle:checked ~ .burger-line:nth-child(4) {
  transform: rotate(-45deg) translate(8px, -8px);
  background: white;
}

.burger-toggle:checked ~ .burger-line {
  width: 40px;
}

.header-content:has(.burger-toggle:checked) .side-menu {
  right: 0;
}

.burger-line {
  background-color: black;
  width: 100%;
  height: 2.5px;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -320px;
  z-index: 1000;
  width: 310px;
  height: 754px;
  transition: 0.3s ease;
  background-color: #20113D;
}
.side-menu .side-navigation-menu {
  display: none;
}
@media screen and (max-width: 640px) {
  .side-menu .side-navigation-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin-top: 150px;
    list-style: none;
    text-transform: uppercase;
    color: white;
  }
}
@media screen and (max-width: 320px) {
  .side-menu {
    gap: 40px;
    margin-top: 130px;
  }
}

footer {
  max-width: 1920px;
  width: 1920px;
  height: 329px;
  background-color: #20113D;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
footer .footer-content {
  width: 1400px;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  padding-bottom: 70px;
  margin-top: 70px;
}
footer .footer-content .footer-logos {
  width: 414px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1200px) {
  footer .footer-content .footer-logos {
    width: 344px;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-content .footer-logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    gap: 30px;
  }
}
footer .footer-content .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 46px;
}
footer .footer-content .footer-menu li a {
  font-size: 18px;
  text-transform: uppercase;
}
@media screen and (max-width: 320px) {
  footer .footer-content .footer-menu li a {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer-content .footer-menu {
    gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-content .footer-menu {
    gap: 15px;
  }
}
footer .footer-content .footer-button-donate {
  width: 360px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  text-transform: uppercase;
  color: white;
}
@media screen and (max-width: 320px) {
  footer .footer-content .footer-button-donate {
    width: 300px;
    height: 45px;
    text-transform: none;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer-content {
    max-width: 1200px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer-content {
    max-width: 640px;
    padding: 50px 0;
    margin: 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-content {
    max-width: 320px;
    border-bottom: none;
    padding: 50px 0 30px;
    gap: 30px;
  }
}
footer .footer-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
  margin-top: 37px;
  font-weight: 400;
}
footer .footer-contacts .autors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  text-align: center;
}
@media screen and (max-width: 320px) {
  footer .footer-contacts .autors {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid white;
    gap: 30px;
  }
}
footer .footer-contacts #footer-social-media-icons {
  gap: 40px;
}
@media screen and (max-width: 640px) {
  footer .footer-contacts #footer-social-media-icons ul {
    display: flex;
    gap: 50px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer-contacts #footer-social-media-icons {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1200px) {
  footer .footer-contacts {
    padding: 0 40px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer-contacts {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    padding: 50px 0 0;
    margin: 0;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-contacts {
    max-width: 320px;
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  footer {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  footer {
    height: 545px;
  }
}
@media screen and (max-width: 320px) {
  footer {
    height: 710px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
  box-shadow: none;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

/*# sourceMappingURL=main.css.map */
