@use "_variables" as v;
@use "_mixin" as m;


.map-section {
  width: 100%;
  @include m.position(column,center,center,center);
  background-color: v.$white-col;

  .map-tittle {
    margin: 40px 0 70px;
    text-transform: uppercase;
    text-align: center;
    color: v.$bg-purple-col;
    @include m.font(v.$ff-m, 54px, 600);

    .desktop-break {
      display: block;

      @media (max-width: v.$tablet) {
        display: none;
      }
    }

    .mobile-break {
      display: none;

      @media (max-width: v.$tablet) {
        display: block;
      }
    }

    @media screen and (max-width: v.$desktop-small){
      margin: 30px 0;
    }

    @media screen and (max-width: v.$tablet){
      margin: 30px 0 50px;
    }

    @media screen and (max-width: v.$mobile){
      margin: 30px 0;
      text-transform: none;
    }
  }

  .map-img {
    max-width: 1405px;
    width: 100%;
    margin-bottom: 150px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

  @media screen and (max-width: v.$desktop-small){
    max-width: v.$desktop-small;
    margin-bottom: 100px;
  }

  @media screen and (max-width: v.$mobile){
    margin-bottom: 50px;
  }
  }
}

.map-marker {
  position: absolute;
  cursor: pointer;
}

.map-marker img {
  display: block;
  transition: opacity 0.3s ease;
}

.marker-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.map-marker:hover .marker-default {
  opacity: 0;
}

.map-marker:hover .marker-hover {
  opacity: 1;
}

.marker-1 {
  top: 50%;
  left: 46%;
}

.marker-2 {
  top: 68%;
  left: 80%;
}

.marker-3 {
  top: 40%;
  left: 20%;
}

.marker-4 {
  top: 50%;
  left: 39%;
}

.marker-5 {
  top: 63%;
  left: 55%;
}

.marker-6 {
  top: 40%;
  left: 67%;
}

.marker-7 {
  top: 55%;
  left: 70%;
}

.marker-8 {
  top: 43%;
  left: 10%;
}