@use "_variables" as v;
@use "_mixin" as m;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1000;
}

.overlay.active-modal,
.modal-together-container.active-modal {
  opacity: 1;
  visibility: visible;
}

.modal-together-container {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  @include m.position(column, flex-end, center, center);
  @include m.size(1160px, 815px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  background-image: url("../assets/images/together-bg.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  z-index: 1001;
  padding-bottom: 50px;

  @media screen and (max-width: v.$desktop-small) {
    @include m.size(1121px, 700px);
    background-size: 100% 312px;
    padding-bottom: 30px;
  }

  @media screen and (max-width: v.$tablet) {
    @include m.size(600px, 643px);
    background-size: 100% 167px;
    padding-bottom: 40px;
  }

  .close-modal-together {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100%;
    @include m.position(row, flex-end, center, center);
    cursor: pointer;
  }

  .modal-together-content {
    padding: 0 80px;

    @media screen and (max-width: v.$desktop-small) {
      padding: 0;
    }

    .modal-together-text {
      padding: 0 160px 50px;

      @media screen and (max-width: v.$desktop-small) {
        padding: 0;
      }

      .tittle-modal-together {
        @include m.h2;
        margin-bottom: 30px;
        color: v.$bg-orange-col;
        @media screen and (max-width: v.$desktop-small) {
          padding: 0 202px 0 270px;
        }
        @media screen and (max-width: v.$tablet) {
          font-size: 42px;
          padding: 0 57px 0 57px;
        }
      }

      .paragraph-together {
        font-size: 18px;
        line-height: 1.5;

        @media screen and (max-width: v.$desktop-small) {
          text-align: center;
          padding: 0 255px 30px 290px;
        }

        @media screen and (max-width: v.$tablet) {
          padding: 0 57px 20px 57px;
        }
      }

    }
  }
  .donate-btn-container {
    @include m.position(row, space-between, center, center);
    width: 100%;
    height: 65px;
    gap: 40px;
    padding: 0 80px;

     @media screen and (max-width: v.$desktop-small) {
        padding: 0 40px 0 80px;
     }

     @media screen and (max-width: v.$tablet) {
      justify-content: center;
        padding: 0 60px 0 60px;
        gap: 20px;
        flex-wrap: wrap;
        height: auto;
     }
    

    .together-donate-btn {
      width: 120px;
      height: 65px;
      border-radius: 5px;
      background-color: v.$bg-blue-col;
      color: white;

      &:hover{
        background-color: v.$bg-blue-hover;
      }

      @media screen and (max-width: v.$tablet) {
        width: 135px;
      }
    }

    .together-donate-btn--wide {
      width: 200px;
      @media screen and (max-width: v.$tablet) {
        width: 135px;
      }
    }
  }
}