@use "_variables" as v;
@use "_mixin" as m;

.modal-donation-container {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  @include m.position(column, flex-start, center, center);
  @include m.size(920px, 819px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  z-index: 1001;

  @media screen and (max-width: v.$tablet) {
    @include m.size(600px, auto);
    max-height: 90%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
  }

  @media screen and (max-width: v.$mobile) {
    @include m.size(300px, 100auto);
    border-radius: 0;
    max-height: 90%;
  }

  .header-modal-donation {
    height: 135px;
    width: 100%;
    min-width: 920px;
    @include m.position(row, center, center, center);
    font-size: 42px;
    border-radius: 5px;
    color: white;
    background-color: v.$bg-orange-col;
    text-transform: uppercase;

    @media screen and (max-width: v.$tablet) {
      min-width: 0;
      max-width: 600px;
      height: 99px;
    }

    @media screen and (max-width: v.$mobile) {
      @include m.size(300px, 117px);
      max-width: 300px;
      font-size: 26px;
      font-weight: 500;
      text-align: center;
    }
  }

  .header-text {
    height: 87px;
    width: 100%;
    @include m.position(row, flex-start, center, flex-end);
    border-bottom: 1px solid #A4A8AE;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    padding-left: 123px;
    padding-bottom: 10px;
    @media screen and (max-width: v.$tablet) {
      margin-left: 0;
      padding-left: 77px;
    }

    @media screen and (max-width: v.$mobile) {
      justify-content: center;
      padding-left: 0;
      height: 47px;
      padding-bottom: 0;
    }
  }

  .donation-amount-container {
    width: 680px;
    height: auto;
    margin: 40px 120px 0;

    @media screen and (max-width: v.$tablet) {
      width: 600px;
      margin: 0;
      padding: 40px 77px 0;
    }

    @media screen and (max-width: v.$mobile) {
      width: 300px;
      padding: 30px 10px 0;
      text-align: center;
    }

    .amount-text {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 10px;

      span {
        color: v.$bg-blue-col;
      }
    }

    .donate-btn-container {
      width: 100%;
      height: 65px;
      gap: 40px;
      @include m.position(row, space-between, center, center);

      @media screen and (max-width: v.$tablet) {
        flex-wrap: wrap;
        height: auto;
        gap: 40px 20px;
      }

      @media screen and (max-width: v.$mobile) {
        gap: 20px;
      }

      .together-donate-btn {
        width: 80px;
        height: 100%;
        background-color: #80CFC8;
        color: white;
        border-radius: 5px;
        cursor: pointer;

        @media screen and (max-width: v.$tablet) {
          width: 135px;
          height: 65px;
        }

        @media screen and (max-width: v.$mobile) {
          width: 130px;
          height: 50px;
        }

        &:hover{
          background-color: v.$bg-blue-hover;
        }
      }
    }

    .other-amount-input-container {
      display: flex;
      gap: 40px;
      margin: 40px 0;

      @media screen and (max-width: v.$tablet) {
        gap: 20px;
        margin-bottom: 49px;
      }

      @media screen and (max-width: v.$tablet) {
        margin-top: 20px;
        margin-bottom: 30px;
      }

      .other-sum-input {
        border: 1px solid black;
        border-radius: 5px;
        width: 200px;

        @media screen and (max-width: v.$tablet) {
          gap: 212px;
        }

        @media screen and (max-width: v.$mobile) {
          width: 130px;
        }
      }
    }

    .select-container {
      display: flex;
      gap: 40px;
      margin-bottom: 40px;

      @media screen and (max-width: v.$tablet) {
        flex-direction: column;
        gap: 20px;
      }

      @media screen and (max-width: v.$mobile) {
        align-items: center;
        margin-bottom: 30px;
      }

      .select-pets {
        border: 1px solid black;
        border-radius: 5px;
        width: 440px;

        @media screen and (max-width: v.$tablet) {
          width: 100%;
          height: 65px;
        }

         @media screen and (max-width: v.$mobile) {
          height: 50px;
        }
      }
    }

    .container-checkbox {
      @include m.position(row, flex-start, center, center);

      @media screen and (max-width: v.$mobile) {
        flex-direction: column-reverse;
      }

      .monthly-recurring {
      width: 30px;
      height: 30px;
      border: 1px solid black;
      margin-right: 20px;
      }

      .monthly-recurring-label {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;

        @media screen and (max-width: v.$mobile) {
          font-size: 16px;
          padding: 0 20px 10px;
        }
      }
    }

    .popup-btn-container {
      height: 74px;
      @include m.position(row, space-between, center, center);
      margin: 50px 0;

      @media screen and (max-width: v.$tablet) {
        margin-bottom: 40px;
      }

      @media screen and (max-width: v.$mobile) {
        height: auto;
        flex-direction: column-reverse;
        gap: 30px;
        margin-bottom: 50px;
      }

      .popup-circe-container {
        @include m.position(row, space-between, center, center);
        width: 50px;
        height: 10px;

        .circle {
          height: 100%;
          width: 10px;
          border-radius: 100%;
          border: 1px solid v.$bg-blue-col;
          cursor: pointer;

          &:first-child {
            background-color: v.$bg-blue-col;
          }
        }
      }

      .popup-btn-next {
        @include m.position(row, center, center, center);
        @include m.size(200px, 74px);
        text-transform: uppercase;
        background-color: #80CFC8;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        margin-right: 105px;

        @media screen and (max-width: v.$tablet) {
          margin-right: 0;
          width: 212px;
        }

        @media screen and (max-width: v.$mobile) {
          height: 50px;
        }

        &:hover {
          background-color: v.$bg-blue-hover;
        }
      }
    }
  }
}

.other-amount-btn, .special-pet-btn {
  @include m.btn-template(200px, 65px);
  background-color: #80CFC8;
  color: white;
  cursor: pointer;

  @media screen and (max-width: v.$tablet) {
    width: 212px;
  }

  @media screen and (max-width: v.$tablet) {
    width: 209px;
    height: 50px;
  }

  &:hover{
    background-color: v.$bg-blue-hover;
  }
}