@use "_variables" as v;
@use "_mixin" as m;

.zoos-section {
  @media screen and (max-width: v.$desktop-small) {
    max-width: 1200px;
  }
}

.cams-gallery-container {
  @include m.position(column, center, center, flex-end);
  margin: 50px 260px 150px;

  @media screen and (max-width: v.$desktop-small) {
    width: 1200px;
    margin: 0;
    padding: 30px 40px 100px 135px;

    .cams-bg {
      width: 1025px;
      height: 760px;
      overflow: hidden;

      img{
        width: 110%;
        height: 110%;
      }
    }
  }
}

.side-panel {
  position: absolute;
  width: 220px;
  transition: width 0.3s ease;
  background-color: v.$bg-purple-col;

  @media screen and (max-width: v.$desktop-small) {
    width: 115px;
  }

  .handle-panel {
    @include m.position(row, space-between, center, flex-start);
    height: 80px;
    border-bottom: 1px solid white;

    @media screen and (max-width: v.$desktop-small) {
      align-content: center;
      justify-content: center;
    }

    .live-cam {
      @include m.position(row, center, center, center);
      @include m.size(120px, 34px);
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      background-color: v.$bg-orange-col;
      gap: 10px;

      @media screen and (max-width: v.$desktop-small) {
        display: none;;
      }
    }

    .handle-side-button {
      align-self: center;
      margin-right: 30px;
      cursor: pointer;
    }
  }

  .about-icon-animal {
    display: none;
  }

  .menu-animal {
    @include m.position(row, center, center, center);
    height: 171px;
    border-bottom: 1px solid white;
    cursor: pointer;
  }

  .icon-container:hover {
    @include m.position(row, center, center, center);
    height: 128px;
    width: 128px;
    border-radius: 100%;
    border: 2px solid white;

    @media screen and (max-width: v.$desktop-small) {
    border: none;
    }
  }

  .icon-box {
    @include m.position(row, center, center, center);
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: v.$bg-orange-col;

    @media screen and (max-width: v.$desktop-small) {
    background-color: transparent;
    }
  }

  .icon-box:hover {
    background-color: white;
  }

  .icon path {
    fill: #20113D;
    transition: fill 0.3s ease;

    @media screen and (max-width: v.$desktop-small) {
      fill: v.$bg-orange-col;
    }
  }
}

.side-panel.menu-animal.highlighted{
  .icon-container {
    @include m.position(row, center, center, center);
    height: 128px;
    width: 128px;
    border-radius: 100%;
    border: 2px solid white;
  }

  .icon-box {
    background-color: white;
  }

  .icon path {
    fill: v.$bg-purple-col;
  }
}

.menu-animal.active.highlighted{
  .icon path {
    fill: white;
  }

  .icon-container {
    border: none;
  }
}

.side-panel.expandable {
  width: 300px;

  .about-icon-animal {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
  }

  .handle-side-button {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .icon-container:hover {
    @include m.position(row, center, center, center);
    height: 128px;
    width: 128px;
    border: none;
  }

  .icon-box {
    background-color: transparent;
  }

  .icon path {
    fill: v.$bg-orange-col;
    transition: fill 0.3s ease;
  }

  .icon:hover path {
    fill: white;
  }
}

.about-animal-container {
  @include m.position(column, center, center, flex-start);
  width: 1920px;
  padding: 150px 260px;

  @media screen and (max-width: v.$desktop-small) {
    width: 1160px;
    padding: 100px 40px;
  }
}

.title-cams-animal {
  @include m.position(row, center, center, flex-end);
  height: 74px;
  margin-bottom: 46px;

  @media screen and (max-width: v.$desktop-small) {
    align-items: center;
    margin-bottom: 30px;
  }

  .title-cams {
    @include m.h2;
    margin-right: 198px;
    @media screen and (max-width: v.$desktop-small) {
      margin: 0;
    }
  }

  .button-donate-now-cam {
    margin-top: 50px;
    @include m.btn-template(240px, 74px);
    background-color: v.$bg-orange-col;

    &:hover {
      background-color: v.$bg-orange-hover;
    }

    @media screen and (max-width: v.$desktop-small) {
      @include m.btn-template(240px, 56px);
      margin: 0;
      margin-left: 70px;
    }

    @media screen and (max-width: v.$tablet){
      width: 290px;
      margin-top: 0;
      transform: translateX(-50%);
    }

    @media screen and (max-width: v.$mobile){
      width: 300px;
      height: 45px;
    }

    img {
      margin-bottom: 0;
    }
  }
}

.subtitle-cams-animal {
  @include m.h2(42px, 500, black);
  align-self: center;
  margin: 100px 0 30px;

  @media screen and (max-width: v.$desktop-small) {
    margin-top: 10px;
  }
}

.slide-cam-container {
  @include m.position(row, space-between, center, center);
  width: 1214px;
  gap: 13px;
  margin-right: 40px;

  @media screen and (max-width: v.$desktop-small) {
    margin-right: 20px;
    width: 995px;
  }

  .slide-cam-elements {
    @include m.position(row, space-between, center, center);
    width: 1040px;
    gap: 40px;

    @media screen and (max-width: v.$desktop-small) {
      gap: 20px;
      width: auto;

      img {
        width: 265px;
        height: 209px;
      }
    }
  }

  .arrows {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background-color: transparent;
      color: black;
  }

  .arrows:hover {
    background-color: v.$bg-purple-col;
    color: #fff;
  }

  .arr-left {
    transform: rotate(180deg);
  }
}

.animal-container {
  @include m.position(column, center, center, center);

  .cam-donation-block {
    max-width: 1920px;
    width: 100%;
    max-height: 249px;
    height: fit-content;
    background-color: v.$bg-purple-col;
    @include m.position(row, center, center, center);
    color: #fff;
    padding: 50px 0;

    @media screen and (max-width: v.$desktop-small) {
      max-width: 1200px;
      padding: 30px 40px;
    }
    @media screen and (max-width: v.$tablet) {
      height: 460px;
    }
    @media screen and (max-width: v.$mobile) {
      height: 445px;
    }

    .donation-content{
      width: calc(1400px / 1920px)*100%;
      @include m.position(row, center, center,center);
      margin: 0;

      @media screen and (max-width: v.$desktop-small) {
        width: 1120px;
        justify-content: space-between;
      }

      .donation-text {
        flex: 1;
        min-width: 0;
        @media screen and (max-width: v.$desktop-small) {
        }
        @media screen and (max-width: v.$mobile) {
          width: 90%;
        }

        h3 {
          font-size: 42px;
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 20px;

          @media screen and (max-width: v.$desktop-small) {
            padding-right: 0;
          }

          @media screen and (max-width: v.$tablet) {
            margin-bottom: 30px;
            padding-right: 0;
          }

          @media screen and (max-width: v.$mobile) {
            font-size: 26px;
          }
        }

        .donation-text-paragraph {
          font-size: 18px;
          line-height: 1.5;
          width: 100%;
          @media screen and (max-width: v.$desktop-small) {
            
          }
          @media screen and (max-width: v.$tablet) {
            padding: 0 27px;
          }
          @media screen and (max-width: v.$mobile) {
            padding: 0;
          }
        }
      }

      .donation-button-container:hover {
        .icon-wrapper {
          background-color: v.$bg-orange-hover;
        }
      }

      .donation-button-container h4 {
        font-size: 26px;
        line-height: 1.3;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .donation-button-container button {
        @include m.btn-template(320px);
        justify-content: end;
        gap: 20px;
        background-color: inherit;
        border: 1px solid #fff;

        .icon-wrapper {
          display: flex;
          justify-content: center;
          width: 80px;
          height: 74px;
          background-color: v.$bg-orange-col;
          border-radius: 5px;
          border: 1px solid #fff;
          border-left: none;

          img {
            width: 25px;
            height: 22;
            max-width: 100%;
            max-height: 100%;
          }

          @media screen and (max-width: v.$mobile) {
            width: 60px;
            height: 45px;
          }
        }

        @media screen and (max-width: v.$tablet) {
          width: 365px;
        }

        @media screen and (max-width: v.$mobile) {
          font-size: 16px;
          font-weight: 600;
          width: 300px;
          height: 45px;
        }
      }

      @media screen and (max-width: v.$desktop-small) {
        width: calc(1000px / 1200px)*100%;
      }
      @media screen and (max-width: v.$tablet) {
        width: v.$tablet;
        @include m.position(column, center, center, center);
        text-align: center;
        gap: 30px;
      }
      @media screen and (max-width: v.$mobile) {
        width: v.$mobile;
      }
    }
  }
}

.cam-block-info {
  @include m.size(1040px, auto);
  @include m.position (column, center, center, center);
  padding: 46px 60px 50px;
  margin-left: 180px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);

  @media screen and (max-width: v.$desktop-small) {
    margin-left: 0;
  }

  .subtitle-cam {
    @include m.h2(42px, 500);
    margin-bottom: 20px;
  }

  .subtitle-cam-paragraph {
    font-size: 26px;
    font-weight: 500;
    color: black;
    text-align: center;
    line-height: 1.3;
  }
}

.about-animal-live {
  @include m.position(row, space-between, center, flex-start);
  margin: 147px 0 50px;
  width: 1160px;

  @media screen and (max-width: v.$desktop-small) {
      width: auto;
    }

  .element-parametr {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 23px;
  }

  .parametr {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 20px;
  }
}

.animal-text {
    width: 1160px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

    @media screen and (max-width: v.$desktop-small) {
      width: auto;
    }
}

.more-container {
  @include m.position(row, center, center, center);
  height: 80px;
  cursor: pointer;
}

.last-element-parametr {
  @include m.position(row, center, center, center);
}

.live-cam-button {
        @include m.position(row, center, center, center);
        @include m.size(240px, 74px);
        border-radius: 5px;
        background-color: transparent;
        color: v.$bg-orange-col;
        @include m.font(20px, 600);
        line-height: 1.5;
        gap: 10px;
        transition: 0.3s ease;
        margin-left: 20px;
        @media screen and (max-width: v.$desktop-small){
          margin-bottom: 35px;
        }
        @media screen and (max-width: v.$tablet){
          margin: 0;
        }
}

.live-cam-button:hover {
  align-self: center;
  background-color: v.$bg-orange-col;
  color: #fff;
  cursor: pointer;
}
